body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

#header-logo {
  width: 200px; /* Largura da imagem */
  height: 200px; /* Altura da imagem */
  object-fit: cover; /* Garante que a imagem seja recortada se necessário para preencher a caixa */
}

@media print {
  .header {
    position: fixed; /* Cabeçalho fixo durante a impressão */
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px; /* Ajuste o padding para a impressão */
  }

  .div-pusher {
    height: 77px; /* Altura do espaço reservado para o cabeçalho na impressão */
  }

  .printer-table {
    width: 100%;
    border-collapse: collapse; /* Colapsa as bordas da tabela */
  }

  @page {
    margin-top: 100px; /* Espaço reservado para o cabeçalho */
  }
}

.main {
  margin-top: 100px; /* Margem para evitar sobreposição com o cabeçalho fixo */
}

.container {
  padding: 20px; /* Espaçamento interno da container */
}
