.header {
    background-color: #f2f2f2; /* Exemplo de cor de fundo */
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

@media print {
    .header {
        position: fixed;
    }

    .div-pusher {
        height: 77px;
    }

    .printer-table {
        width: 100%;
    }
}

.main {
    margin-top: 100px; /* Ajuste para evitar sobreposição com o cabeçalho */
}

.container {
    padding: 20px;
}
